<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Carrier #<%= @carrier.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Code</dt>
              <dd><%= @carrier.code %></dd>

              <dt>Name</dt>
              <dd><%= @carrier.name %></dd>

              <dt>Url</dt>
              <dd><%= @carrier.url %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/carriers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/carriers/<%= @carrier.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_carrier/<%= @carrier.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
