<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @search.destination %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt class="panel-title" style="text-align: left">Leaving</dt>
              <dd></dd>

              <dt style="text-align: left">Origin</dt>
              <dd><%= @search.origin %></dd>

              <dt style="text-align: left">Destination</dt>
              <dd><%= @search.destination %></dd>

              <dt style="text-align: left">Departure time</dt>
              <dd><%= @search.departure_time.strftime('%-H:%M') %></dd>

              <dt style="text-align: left">Duration</dt>
              <dd><%= @search.duration %> minutes</dd>

              <dt style="text-align: left">Carrier</dt>
              <dd><%= Carrier.find_by_code(@search.carrier).name %></dd>

              <dt style="text-align: left">Flight no</dt>
              <dd><%= @search.flight_no %></dd>

            </dl>
            <dl class="dl-horizontal">
              <dt class="panel-title" style="text-align: left">Returning</dt>
              <dd></dd>

              <dt style="text-align: left">Origin</dt>
              <dd><%= @search.origin_return %></dd>

              <dt style="text-align: left">Destination</dt>
              <dd><%= @search.destination_return %></dd>

              <dt style="text-align: left">Departure Time</dt>
              <dd><%= @search.departure_return_time.strftime('%-H:%M') %></dd>

              <dt style="text-align: left">Duration</dt>
              <dd><%= @search.duration_return %> minutes </dd>

              <dt style="text-align: left">Carrier</dt>
              <dd><%= Carrier.find_by_code(@search.carrier).name %></dd>

              <dt style="text-align: left">Flight no</dt>
              <dd><%= @search.flight_no_return %></dd>

            </dl>
            <dl class="dl-horizontal">
              <dt style="text-align: left">Price</dt>
              <dd><%= @search.price %></dd>
            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/searches" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="<%= Carrier.find_by_code(@search.carrier_return).url %>" class="btn btn-success">
              <i class="fa fa-plane"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
